*{
	background-position: center;
	color: black solid;
}
#header #logo{margin:30px 0 0 0;}
#header #logo h1{margin:0; padding:0; font-size:22px;}

#pageintro{padding:250px 0;}

#pageintro > div{display:block; max-width:60%;}
#pageintro > div *{line-height:normal;}
#pageintro .heading{margin:0 0 30px 0; padding:0; font-size:3rem;}
#pageintro p{margin:0; font-size:1.2rem; line-height:2rem;}
#pageintro footer{margin-top:30px;}


.container{padding:80px 0;}
.btmpad-none{padding-bottom:0;}



.sectiontitle{margin-bottom:80px;}
.sectiontitle *{margin:0;}

.infoboxes li{padding:25px 0 0 0; text-align:center;}
.infoboxes li:last-child{margin-bottom:0;}
.infoboxes li *{margin:0; padding:0; line-height:1.6;}
.infoboxes article{display:block; position:relative; padding:35px 20px 25px 20px;}
.infoboxes article i{display:inline-block; position:absolute; top:0; left:50%; width:50px; height:50px; line-height:50px; margin:-25px 0 0 -25px; font-size:18px; z-index:1;}
.infoboxes article .fa{font-size:18px;}

.logos a img{opacity:.5;}
.logos a:hover img{opacity:1;}


#comments ul{margin:0 0 40px 0; padding:0; list-style:none;}
#comments li{margin:0 0 10px 0; padding:15px;}
#comments .avatar{float:right; margin:0 0 10px 10px; padding:3px; border:1px solid;}
#comments address{font-weight:bold;}
#comments time{font-size:smaller;}
#comments .comcont{display:block; margin:0; padding:0;}
#comments .comcont p{margin:10px 5px 10px 0; padding:0;}

#comments form{display:block; width:100%;}
#comments input, #comments textarea{width:100%; padding:10px; border:1px solid;}
#comments textarea{overflow:auto;}
#comments div{margin-bottom:15px;}
#comments input[type="submit"], #comments input[type="reset"]{display:inline-block; width:auto; min-width:150px; margin:0; padding:8px 5px; cursor:pointer;}

.sidebar .sdb_holder{margin-bottom:50px;}
.sidebar .sdb_holder:last-child{margin-bottom:0;}



#footer{padding:80px 0;}

#footer .heading{margin-bottom:50px; font-size:1.2rem;}

#footer nav{margin-bottom:30px; text-transform:uppercase;}
#footer nav ul{}
#footer nav ul li{display:inline-block; margin-right:20px;}
#footer nav ul li:last-child{margin-right:0;}

#footer .linklist li{display:block; margin-bottom:15px; padding:0 0 15px 0; border-bottom:1px solid;}
#footer .linklist li:last-child{margin:0; padding:0; border:none;}
#footer .linklist li::before, #footer .linklist li::after{display:table; content:"";}
#footer .linklist li, #footer .linklist li::after{clear:both;}

#footer .contact{}
#footer .contact.linklist li, #footer .contact.linklist li:last-child{position:relative; padding-left:40px;}
#footer .contact li *{margin:0; padding:0; line-height:1.6;}
#footer .contact li i{display:block; position:absolute; top:0; left:0; width:30px; font-size:16px; text-align:center;}


#copyright{padding:20px 0;}
#copyright *{margin:0; padding:0;}
#copyright{text-align: center;}
